

.sections{
   display: flex;
   flex-direction: column;
   width: 100%;
}

.section-css{
    display: flex;
    justify-content: space-around ;
    
}




.section-carts{
    display: flex;
    justify-content: space-around;

}

.espace{
    height: 50px;
}

.color-button{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    border: none;
    background-color: white;
}

.color-button :hover{
    cursor: pointer;
}
