


#catalogID{
font-family: Italianno;
font-size: 68.47px;
font-weight: 400;
line-height: 85.59px;
text-align: center;

}

.cake-types{
    display: flex;
    justify-content: center;

}

.sections{
    display: flex;
    flex-wrap: wrap;
    width : 100vw ;
}